<div class="center hero-unit">
  <h1 class="page-header">Welcome to the RailsApp

  <small>
    This is the home page for the sample application.
  </small>
</h1>
</div>
 <div><%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %></div>